.content--wrapper {
  width: 100%;

  margin: 0 auto;
}

header,
main {
  width: 737px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  display: block;
}

main {
  min-height: calc(100vh - 160px);
}

header {
  padding-top: 40px;
}

header nav > img {
  width: 35px;
  aspect-ratio: 1;
}

.serif {
  font-family: "Lora", serif;
}

.mono {
  font-family: "Inconsolata", monospace;
}

.sans-serif {
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  .dark {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-50);
    animation: activeDark 500ms ease-in;
  }
}

@media (prefers-color-scheme: light) {
  .light {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-800);
    animation: activeLight 500ms ease-out;
  }
}

@keyframes activeLight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes activeDark {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 790px) {
  header,
  main {
    padding: 0 30px;
    padding-top: 30px;
  }

  main section {
    padding-bottom: 20px;
  }
}
